{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <title>Deploy Django project</title>
</head>
<body>

    
    <div class="container">
        <div class="row">
            <div class="col-8 mx-auto mt-5">
                <h1 class="mb-5">Posts</h1>

                {% for post in posts %} 
                    <h2 class="mb-5">{{ post.title }}</h2> 

                    <div class="description">
                        {{ post.text|safe }}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    
</body>
</html>